#one{
    margin-left: 61px;
}
#two{
    margin-left: 71px;
}
#three{
    margin-left: 78px;
}
#four{
    margin-left: 56px;
}
#five{
    margin-left: 10px;
}
#six{
    margin-left: 41px;
}
#seven{
    margin-left: 87px;
    width: 500px;
}
#eight{
    margin-left: 87px;
    width: 500px;
}
#Selecttheclass{
    margin-left: 38px;
}